.header {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
}

.css-card {
  border: 2px solid black;
}

.css-card-image {
  border: 2px solid black;
}

.css-card-content {
  border: 2px solid black;
}