@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 0 5px;
  box-shadow: 0 5px 15px -10px #808080;
}

.nav-hidden {
  display: none;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.logo-container img {
  padding-right: 5px;
}

.logo {
  color: #BF0000;
  font-weight: 700;
}

.logo-container img {
  padding-right: 5px;
}

.logo {
  color: #BF0000;
  font-weight: 700;
}

.hamburger {
  display: flex;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.hamburger div {
  width: 30px;
  background-color: #000;
  border-radius: 5px;
}

.text-box {
  width: 150px;
}

.search-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  margin-top: 10px;
}

.search-button {
  margin-top: 10px;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

.search-button:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}



.css-card-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}

.css-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.css-card-content h2 {
  text-align: center;
}

.css-card-content p {
  text-align: center;
}



/* Tablet */
@media (min-width: 1023px) {
  .css-card {

    flex-direction: row;
    flex-wrap: wrap;
  }

  .css-card {
    width: 50%;
  }

  .header {
    padding: 10px;
    justify-content: space-between;
  }

  .logo {
    color: #BF0000;
    font-weight: 700;
    font-size: 18px;
    margin-left: 25px;
  }

  .hamburger {
    display: none;
  }

  .nav-hidden {
    display: inline;
  }

  .nav {
    font-weight: 15px;
    margin-right: 20px;
    font-size: 18px;
  }

  nav a {
    color: #000;
    margin-left: 16px;
    text-decoration: none;
    margin-left: 20px;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: darkgray;
  }

  a:active {
    color: gray;
  }

  .search-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .search-button {
    margin-left: 5px;
  }

  .exclude-this {
    margin-left: 10px;
  }
}

/* Desktop */
@media (min-width: 1439px) {
  .css-card-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .css-card {
    width: 33%;
  }
}